@font-face {
    font-family: 'aquaticoregular';
    src: url('../fonts/aquatico-regular-webfont.woff2') format('woff2'),
         url('../fonts/aquatico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  user-select: none;
}

.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
  color: #2b2b2b;
  font-size: 2rem !important;
}

.nav-link{
  font-size: 1.3rem;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

@media screen and (max-width: 1120px) {
  .header_right {
     padding: 0 30px;
    }
    .header_left {
     padding: 0 30px;
    }
}

@media screen and (max-width: 860px) {
  #header_logo a{
    font-size: 30px;
  }
  #menu {
    display: initial;
  }
}